flows (1).json
[{"id":"c225c28a.84003","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6b61db57.1005c4","type":"watson-conversation-v1","z":"c225c28a.84003","name":"chatbot","workspaceid":"91a84507-edab-4188-bace-13574cb442d7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a720202f-6455-4ab5-8444-4f5e9a87a2c9","timeout":"","optout-learning":false,"x":400,"y":100,"wires":[["27317c58.cf4334"]]},{"id":"c3d7fc12.834","type":"debug","z":"c225c28a.84003","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"54b3030.5898ffc","type":"ui_text","z":"c225c28a.84003","group":"47e08b87.de36b4","order":2,"width":"6","height":"11","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":730,"y":220,"wires":[]},{"id":"3ace8e8a.910ad2","type":"function","z":"c225c28a.84003","name":"f","func":"msg.payload = msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["6b61db57.1005c4"]]},{"id":"31c21e6e.150cf2","type":"ui_form","z":"c225c28a.84003","name":"","label":"","group":"47e08b87.de36b4","order":1,"width":0,"height":0,"options":[{"label":"text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":120,"wires":[["3ace8e8a.910ad2"]]},{"id":"27317c58.cf4334","type":"function","z":"c225c28a.84003","name":"","func":"// var mess = \"\"\n\n// if(msg.payload.context.webhook_result_2.matching_results !== 0){\n//     for(var i in msg.payload.context.webhook_result_2.passages){\n//         mess = mess + \"\\n\" + msg.payload.context.webhook_result_2.passages[i].passage_text\n//     }\n//     msg.payload = mess;\n    \n// }\n\n// else{\n//     msg.payload = msg.payload.output.text[0]\n// }\n\n// return msg;\n\nif (msg.payload.output.text[0] != \"<?$webhook_result_2.results[0].text?>\"){\n    msg.payload = msg.payload.output.text[0]\n}\n\nelse{\n    msg.payload = \"i cannot understand do you want to talk to a customer care attendant\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["54b3030.5898ffc","c3d7fc12.834","10f5db90.0acf64"]]},{"id":"d8e57a60.bcc638","type":"delay","z":"c225c28a.84003","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":280,"wires":[["54b3030.5898ffc"]]},{"id":"10f5db90.0acf64","type":"function","z":"c225c28a.84003","name":"","func":"msg.payload = \"\"\nmsg.payload.text = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":300,"wires":[["d8e57a60.bcc638","31c21e6e.150cf2"]]},{"id":"47e08b87.de36b4","type":"ui_group","z":"","name":"new","tab":"dc37dac3.1e09c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dc37dac3.1e09c8","type":"ui_tab","z":"","name":"Managment","icon":"dashboard","disabled":false,"hidden":false}]